.register-bg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.register-card {
  width: 340px;
  padding: 30px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(14px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);

  display: flex;
  flex-direction: column;
  gap: 14px;
  color: white;
}

.register-card h2 {
  text-align: center;
}

.register-card input {
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.register-card button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #25d366;
  font-weight: bold;
}
.signup-text {
  text-align: center;
  font-size: 14px;
  color: #ddd;
}

.signup-text span {
  color: #25d366;
  cursor: pointer;
  font-weight: bold;
}

.signup-text span:hover {
  text-decoration: underline;
}
.login-text {
  text-align: center;
  font-size: 14px;
  color: #ddd;
}

.login-text span {
  color: #25d366;
  cursor: pointer;
  font-weight: bold;
}

.login-text span:hover {
  text-decoration: underline;
}

